.header {
  width: 100%;
  background-color: #fff;
  .container {
    a {
      display: inline-block;
      margin: 11px 0;
      img {
        width: auto;
        height: 40px;
      }
    }
  }
}
