@import "../../mixins";
.hotel-detail-price-list {
  .container {
    .select-room {
      margin: 20px 0;
      width: 500px;
      .form-group {
        width: 100%;
        .inp-caption {
          width: 100%;
          display: block;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: #000716;
          margin-bottom: 4px;
        }
        .inp {
          @include inputStyle();
        }
      }
      .select {
        position: relative;

        &.open {
          .icon {
            img {
              transform: rotate(180deg);
            }
          }
          .select-area {
            opacity: 1;
            visibility: visible;
          }
        }
        .select-inp {
          padding: 7px 34px 7px 14px;
        }

        .icon {
          position: absolute;
          top: 30px;
          right: 10px;
          display: flex;
          align-items: center;
          cursor: pointer;
          img {
            transition: 0.4s ease;
            width: 24px;
            height: 24px;
            object-fit: cover;
          }
        }
        .select-area {
          position: absolute;
          width: 100%;
          top: 65px;
          left: 0;
          z-index: 10;
          //    height: 111.6px;
          height: 0;
          opacity: 0;
          visibility: hidden;
          transition: 0.4s ease;

          .select-list {
            border: 1px solid #9ba7b6;
            border-radius: 8px;
            background-color: #fff;
            padding: 10px 0;
            height: 100%;
            .select-item {
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              color: #575c6e;
              padding: 3px 10px;
              margin: 3px 0;
              cursor: pointer;
              transition: 0.3s ease;
              &:hover {
                background-color: #cccccc70;
              }
            }
            .alert-text {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              gap: 5px;
              padding: 10px;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              color: #5a5a5a;
              button {
                @include addBtn();
                padding: 10px;
              }
            }
          }
        }
      }
    }
    .price-list-tab {
      box-shadow: 0px 0px 4px 0px #414d5c33;
      border-radius: 16px;
      padding: 20px;
      margin-bottom: 20px;
      .tab-head {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        color: #000716;
      }
      .tab-body {
        .table,
        tr,
        td,
        th {
          border-bottom: 2px solid #e9ebed;
          border-collapse: collapse;
          text-align: left;
        }
        .table {
          thead,
          tbody {
            .edit {
              width: 155px;
              text-align: center;
            }
            .main-tab {
              width: 100px;
              text-align: center;
            }
            .first-line {
              display: inline-block;
              width: 150px;
              border-bottom-color: transparent;
            }
            .changable-tab {
              text-align: center;
            }
          }
        }
        .table {
          th {
            color: #ff014ff5;
            font-weight: 600;
            font-size: 14px;
            padding: 8px;
          }
          .carImg {
            width: 10%;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .edit {
            a {
              margin-right: 10px;
            }
            a {
              &:hover {
                svg {
                  path {
                    color: green;
                  }
                }
              }
            }
            svg {
              cursor: pointer;
              &:hover {
                transform: scale(1.2);
                path {
                  color: red;
                }
              }
            }
          }
        }
        .table {
          width: 100%;
          thead {
            tr {
              th {
                padding: 6px;
                padding: 10px 20px;
                font-size: 14px;
                font-weight: 800;
                line-height: 18px;
                color: #414d5c;
              }
            }
          }
          tbody {
            td,
            tr {
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              color: #000716;
              cursor: pointer;
            }
            td {
              padding: 9px 20px;
              button {
                border: none;
                background-color: transparent;
                outline: none;
                cursor: pointer;
                width: 24px;
                height: 24px;
                img {
                  width: 24px;
                  height: 24px;
                }
              }
            }
            tr {
              &:nth-child(even) {
                background-color: #f2f2f2;
              }
            }
          }
        }
        th {
            &:first-child,&:last-child{
                border-right-color: transparent;
            }
          border-right: 2px solid #e9ebed;

        }
      }
      .add-btn {
        margin-top: 10px;
        @include addBtn();
      }
    }
  }
}
